<!DOCTYPE html>
<html>
<head>
<title>Database results</title>
<link rel='stylesheet' type='text/css' href='/css/mysqlview.css' />
<script type='module'>
const select = document.getElementById('tableName');
select.addEventListener('change', e => {
	window.location = `/table?tableName=${select.value}`;
});
</script>
</head>
<body>
<p class='error'><%=error%></p>
<h1>Database results</h1>
<p>
<form method="get" action="/table">
<select name="tableName" id="tableName">
<%
for(let table of allTables) {
    %><option><%=table%></option><%
}
%>
</select>
<!--
<input type="submit" value="Choose Table">
-->
</form>
<form method='post' action='/logout'>
<input type='submit' value='Log out' />
</form>
</p>
<%
    let row = 'odd';
    for(let table in allResults) {
        %>
        <h2>Table <%= table %> </h2>
        <table>
        <thead>
        <tr>
        <%
        for(let field of allResults[table].fieldNames) {
            %>
            <th><%= field %></th>
            <%    
        }
        %>
        </tr></thead><tbody>
        <%
        for(let result of allResults[table].results) {
            %>
            <tr class='<%= row %>'>
            <form method='post' action='/<%=table%>/row/<%=result[idCol]%>'>
            <%
            for(let field of allResults[table].fieldNames) {
                %>
                <td>
                <%
                if(field == idCol) {
                    %><%=result[idCol]%><%
                } else { 
                    %>
                    <input name='<%=field%>' type='text' value='<%= result[field] %>' />
                    <%
                }
                %>
                </td>
                <%
            }
            %>
            <td><input type='submit' value='Update!'></td>
            </form>
            <form method='post' action='/<%=table%>/row/<%=result[idCol]%>/delete'>
            <td><input type='submit' value='Delete!'></td>
            </form>
            </tr>
            <%
            row = (row=='even') ? 'odd': 'even';
        }
        %>
        </tbody></table>
        <h3>Create new record</h3>
        <form method='post' action='/<%=table%>/row/create'>
        <table>
        <%
        for(let field of allResults[table].fieldNames) {
            %>
            <tr>
            <%
            if(field != idCol) {
                %>
                <td><label for='<%=field%>'><%=field%></label></td>
                <td><input name='<%=field%>' id='<%=field%>' type='text' /></td>
                <%
            }
            %>
            </tr>
            <%
        }
        %>
        </table>
        <input type='submit' value='Create record!' />
        </form>
        <%
    }

%>
</body>
</html>
